hgroup {
  background-color: rgba(81, 105, 167, 255);
  justify-content: space-between;
  display: flex;
}

h1 {
  margin-left: 10px;
}

ol {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-right: 10px;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  color: rgb(179, 8, 246);
  border-radius: rgb(179, 8, 246);
}

.addElements {
  background-color: #d09d72;
}

.Elements {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  font-size: 200%;
}

.shoppingBasket {
  background-color: rgba(209, 190, 173, 255);
  font-size: 150%;
}

hr {
  height: 1px;
  background-color: blueviolet;
  margin: 0;
  left: 0;
  right: 0;
}

.result {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  background-color: rgba(209, 190, 173, 255);
  font-size: 150%;
}

footer {
  background-color: rgba(81, 105, 167, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: white;
}
